<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.imgAssets = {
        logo: "<%= image_url("logo.png") %>",
        featured: [
          "<%= image_url("featured/featured1.jpg") %>",
          "<%= image_url("featured/featured2.jpg") %>",
          "<%= image_url("featured/featured3.jpg") %>"
        ],
        defaultColor: "<%= image_url("haircolors/default.jpg") %>",
      };

      const colors = JSON.parse("<%= getColors() %>".replace(new RegExp("&quot;", "g"), "\""));
      Object.assign(window.imgAssets, colors)
    </script>

    <title>Amy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/155f17d2e4.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
