<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.imgAssets = {
        logo: "<%= image_url("logo.png") %>"
      };

      let colors = "<%= getColors() %>";
      Object.assign(window.imgAssets, JSON.parse(colors.replace(new RegExp("&quot;", "g"), "\"")))
    </script>
    <title>Amy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/155f17d2e4.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
